@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Play:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    display: block;
    position: relative;
    background-image: url(/img/clockitem5.jpg);
    background-blend-mode:overlay;
    background-color: rgba(25, 30, 41, 0.863);
    min-width:100vw;
    min-height: 100vw;
    background-position:center;
    background-size:cover;
    justify-content: center;
    background-repeat:no-repeat ;
    background-attachment: local;
    overflow-x: hidden;
    color: wheat;
    font-family: "Rubik", sans-serif;
}
.navbar {
    text-decoration:none;
    font-family: "Play", sans-serif;
}
.navbar ul {
    position: fixed;
    min-width: 100vw;
    top: 0;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    box-sizing:border-box;
    background-color:black;
    padding: 30px;
    margin: 0;
    z-index: 1;
    left: 0;
    right: 0;
    
}
.navbar ul li a{
position: relative;
text-decoration: none;
color:azure;
font-size:  calc(12px + (27 - 12) * ((100vw - 320px) / (1600 - 320)));;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 2px;
    background-color: rgb(255, 12, 12);
    width: 0;
    transition: width 0.5s ease; /* Анимация расширения полосы подчеркивания */
}

.navbar ul li a:hover::after {
    width: 100%; /* Увеличение ширины при наведении */
}

.fa-instagram{
    margin-right:10px;
}
.back{
    display: flex;
    justify-content: center;
}
.text{
font-size: calc(8px + (10 - 8) * ((100vw - 320px) / (1600 - 320)));
position: relative;
top: 120px;
width: 800px;
max-height: 200px;
text-align: center;
}

main {
    top: 200px;
    display: flex;
    position: relative;
    font-size: calc(8px + (15 - 8) * ((100vw - 320px) / (1600 - 320)));
    text-align: left;
    justify-content: left;
    flex-direction: column;
    padding: 0px 0px 0px 40px;
}

main h1 {
    text-align: center;
    font-size: calc(20px + (20 - 20) * ((100vw - 320px) / (1600 - 320)));
    padding-top: 20px;
    height: 30px;   
}
.list{ 
    font-weight: 300;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));
    list-style-type: none;
}

.list ul li
{
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
    list-style-type:"-  ";   
}
main h2{
    color: rgba(255, 255, 255, 0.747);
    font-size: calc(14px + (25 - 14) * ((100vw - 320px) / (1600 - 320)));
}
h3{
    font-size: calc(14px + (25 - 14) * ((100vw - 320px) / (1600 - 320)));
    color:white;
}
.button{
    font-weight: 600;
    top: 80px;
    position: relative;
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
    max-width: 240px;
    max-height: 100px;
    text-align: center;
    left: calc(12px + (650 - 12) * ((100vw - 320px) / (1600 - 320)));;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 20px;
    text-align: 50%;
    text-decoration:none;
    color: #f8f8f8;
     overflow:hidden; 
    padding: 15px 30px; }

.button_line {
    position: relative;
    display: block;
}
.but_line_top{
    width: 100%;
    top: -15px;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg, transparent, #2196f3);
    left:-130%;
}
.button:hover .but_line_top{
    left: 130%;
    background-color:rgb(156, 8, 144);
    cursor:pointer;
    box-shadow: 0 0 5px rgb(37, 4, 4),
    0 0 25px rgb(63, 13, 70),
    0 0 35px rgba(12, 85, 95, 0.158);
    transition: 1s;
    transition-delay: 0.25s;
    left:-130%;
}
.button:hover .but_line_top{
    left: 130%;
    background-color:rgb(156, 8, 144);
    cursor:pointer;
    box-shadow: 0 0 5px rgb(37, 4, 4),
    0 0 25px rgb(63, 13, 70),
    0 0 35px rgba(12, 85, 95, 0.158);
    transition: 1s;
    transition-delay: 0.25s;
}
.button:hover{
    background:linear-gradient(200deg, transparent, #1f131d);
}
.but_line_bottom{
    top: 80px;
    width: 280px;
    height: 2px;
    background:#e4e4e4;
    right:-130%;
    z-index: 1;

    
}
.button:hover .but_line_bottom{
    right: 130%;
    background-color:rgb(156, 8, 144);
    cursor:pointer;
    box-shadow: 0 0 5px rgb(37, 4, 4),
    0 0 25px rgb(63, 13, 70),
    0 0 35px rgba(12, 85, 95, 0.158);
    transition: 1s;
    transition-delay: 0.25s;
}
footer {
    position: relative;
    min-width: 100vw;
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    bottom: 0;
    border-top: 2px solid red;
    margin-top: 400px;
}

footer p{
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .inst{
    font-size: calc(19px + (30 - 19) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    position: relative;
    color: #ffffff;
    margin-left: 120px;
    bottom: 50px;
    left:  calc(-3px + (65 - -3) * ((100vw - 320px) / (1600 - 320)));
    bottom:  calc(30px + (50 - 30) * ((100vw - 320px) / (1600 - 320)));
 }
.telega{
    font-size: calc(19px + (30 - 19) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;;
    position: relative;
    color: #0099ff;
    left:  calc(140px + (220 - 140) * ((100vw - 320px) / (1600 - 320)));
    bottom:  calc(60px + (105 - 60) * ((100vw - 320px) / (1600 - 320)));
    padding:0px;
}

    
    