body{
    display: block;
    position: relative;
    background-image: url(img-item1/item1back.png);
    background-blend-mode:overlay;
    background-color: rgba(173, 180, 197, 0.863);
    min-width:100vw;
    min-height: 100vw;
    background-position:center;
    background-size:cover;
    justify-content: center;
    background-repeat:no-repeat ;
    background-attachment: local;
    overflow-x: hidden;
}
.navbar {
    text-decoration:none;
}
.navbar ul {
    position: fixed;
    min-width: 100vw;
    top: 0;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    box-sizing:border-box;
    background-color:black;
    padding: 30px;
    margin: 0;
    z-index: 1;
    left: 0;
    right: 0;
}
.navbar ul li a{
position: relative;
text-decoration: none;
color:azure;
font-size:  calc(12px + (27 - 12) * ((100vw - 320px) / (1600 - 320)));;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 2px;
    background-color: rgb(255, 12, 12);
    width: 0;
    transition: width 0.5s ease; /* Анимация расширения полосы подчеркивания */
}

.navbar ul li a:hover::after {
    width: 100%; /* Увеличение ширины при наведении */
}

.fa-instagram{
    margin-right:10px;
}
.back{
    display: flex;
    justify-content: center;
}
.text{
font-size: calc(8px + (15 - 8) * ((100vw - 320px) / (1600 - 320)));
position: relative;
top: 120px;
width: 800px;
max-height: 200px;
text-align: center;
}

main {
    top: 180px;
    display: flex;
    position: relative;
    font-size: calc(8px + (15 - 8) * ((100vw - 320px) / (1600 - 320)));
    text-align: left;
    justify-content: left;
    flex-direction: column;
    padding: 0px 0px 0px 40px;
}

main h1 {
    text-align: center;
    font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1600 - 320)));
    height: 20px;   
}
.list{
    font-weight: 300;
    font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1600 - 320)));
}
main h2{
    color: #880015;
    font-size: calc(14px + (25 - 14) * ((100vw - 320px) / (1600 - 320)));
}

.button{
    font-weight: 600;
    top: 80px;
    position: relative;
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
    max-width: 240px;
    max-height: 100px;
    text-align: center;
    left: calc(12px + (650 - 12) * ((100vw - 320px) / (1600 - 320)));;
    border: 2px solid rgb(10, 10, 10);
    border-radius: 20px;
    text-align: 50%;
    background-color:rgba(150, 216, 27, 0.171);
    text-decoration:none;
    color: #000;
}
.button:hover{
    background-color:rgba(23, 15, 128, 0.678);
    cursor:pointer;
}
footer {
    position: relative;
    min-width: 100vw;
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    bottom: 0;
    border-top: 2px solid red;
    margin-top: 400px;
}

footer p{
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
 .inst{
    font-size: calc(19px + (30 - 19) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    position: relative;
    color: #000000;
    margin-left: 120px;
    bottom: 50px;
    left:  calc(-3px + (65 - -3) * ((100vw - 320px) / (1600 - 320)));
    bottom:  calc(30px + (50 - 30) * ((100vw - 320px) / (1600 - 320)));
 }
.telega{
    font-size: calc(19px + (30 - 19) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;;
    position: relative;
    color: #0099ff;
    left:  calc(140px + (220 - 140) * ((100vw - 320px) / (1600 - 320)));
    bottom:  calc(60px + (105 - 60) * ((100vw - 320px) / (1600 - 320)));
    padding:0px;
}

    
    